.header-container {
    height: 4.56rem;
    background-image: var(--header-grad-color);
    border-radius: 2.3125rem;
    display: flex;
    justify-content: space-between;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
.logo.header-logo {
    margin-inline-start: 4rem;
    
}
.header-logo img {
    margin-top: 1.2rem;
}

.header-buttons-container {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-buttons-container li{
    width: 150px;
    line-height: 4.56rem;


}

.header-buttons-container a{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;

}