.main-gallery-container {
    background-color: var(--main-bck-color);
    border-radius: 10px;
    margin: 0;
}

.gallery-head  {
    margin: 0;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    margin-bottom: 1rem;
    
    
}

.search {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    height: 2rem;
    border-radius: 18px;
    font-size: 18px;
}
.search-button{
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.564);
    height: 2rem;
    border-radius: 35%;
    font-size: 12px;
    color: #0b0b0c54;
    border-color: #0b0b0c54;
}

.random-button {
    background-color: #19a59f;
    color: #c73624;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    height: 2rem;
    width: 10rem;
    border-radius: 18px;
    font-size: 18px;
}



.images-container {
    display: grid;
    margin: 0  auto;
    margin-block-start: 3rem;
    width: 70.5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
}

.image-item {
    background-position: center center;
    background-size: cover;
    width: 12.5rem;
    height:  12.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}