@media (max-width: 1230px) {

    .images-container {
        display: grid;

        width: 56rem;
        grid-template-columns: repeat(4, 1fr);

    }
}


@media (max-width: 950px) {

    .images-container {
        display: grid;

        width: 41.5rem;
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width: 730px) {

    .images-container {
        display: grid;

        width: 37rem;
        grid-template-columns: repeat(3, 1fr);

    }

    .image-item {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 650px) {

    .images-container {
        display: grid;
        width: min-content;
        grid-template-columns: 1fr 1fr;

    }

    .main-meme-maker {
        background-color: var(--main-bck-color);
        display: none;
        flex-direction: column;


    }

    .header-buttons-container {
        display: none;
    }

    .main-gallery-container {
        border-radius: 0px;
        width: 100%;

    }

    .search-button {
        display: none;
    }

    .header-container {
        border-radius: 0px;

    }

    canvas {
        width: 19rem;
        height: 19rem;
    }

    .control-box {
        width: 19rem;
        height: 21rem;

    }

    .image-item {
        width: 8rem;
        height: 8rem;
    }

    .gallery-head {
        flex-direction: column;
        height: 7rem;

    }


    .gallery-head:first-child {
        margin-left: 3rem;
    }

    .lines-func {
        margin: 0;
        width: auto;
        background-color: rgba(0, 255, 255, 0);
    }

    .text-input-holder input {
        width: auto;
    
    }
    .lines-func button{
        background-color: #29b47f;
        background: linear-gradient(to bottom, #ededed 1%, #29b47f 100%);
    }
    .share-panell{
        background-color: rgba(0, 0, 0, 0);
    }
}