@media (max-width: 1150px) {

    .images-container {
        display: grid;
        margin: 0 auto;
        width: 56rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}


@media (max-width: 700px) {

    .images-container {
        display: grid;
        margin: 0 auto;
        width: 41.5rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 650px) {

    .images-container {
        display: grid;
        margin: 0 auto;
        width: 26rem;
        grid-template-columns:  1fr 1fr;
        gap: 2rem;
    }
    .main-meme-maker {
        background-color: var(--main-bck-color);
        /* display: flex;  */
        display: none;
        flex-direction: column;

        
    }
}