@media (max-width: 1150px) {

    .images-container {
        display: grid;

        width: 56rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}


@media (max-width: 700px) {

    .images-container {
        display: grid;

        width: 41.5rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 650px) {

    .images-container {
        display: grid;
        width: min-content;
        grid-template-columns: 8rem 8rem;
        gap: 1.5rem;
    }

    .main-meme-maker {
        background-color: var(--main-bck-color);
        /* display: flex;  */
        display: none;
        flex-direction: column;


    }

    .header-buttons-container {
        display: none;
    }

    .main-gallery-container {
        border-radius: 0px;
        width: 100%;

    }

    .search-button {
        display: none;
    }

    .header-container {
        border-radius: 0px;
        width: 100%;
    }

    canvas {
        width: 23rem;
        height: 23rem;
    }

    .control-box {
        width: 23rem;
        height: 23rem;
    }

    .image-item {
        width: 8rem;
        height: 8rem;
    }

        html {
            min-width: 24rem;
        }
        
        .gallery-head {
            justify-content: start;
        
        }
        
        .gallery-head * {
            width: 7rem;
        }
        
        .gallery-head:first-child {
            margin-left: 1rem;
        }
}



